@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 19% 13%;
  --foreground: 210 20% 98%;
  --muted: 215 16% 27%;
  --muted-foreground: 215 14% 65%;
  --card: 215 28% 17%;
  --card-foreground: 210 20% 98%;
  --popover: 215 28% 17%;
  --popover-foreground: 210 20% 98%;
  --border: 215 15% 25%;
  --input: 215 15% 25%;
  --primary: 221 83% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 14% 25%;
  --secondary-foreground: 210 20% 98%;
  --accent: 216 34% 17%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 210 20% 98%;
  --ring: 221 83% 53%;
  --radius: 12px;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

a {
  color: hsl(var(--primary));
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
